*{
    text-align: center;
}

h1{
    font-size: 2em;
    color: rgb(148, 89, 216);
}

#container {
    border: 1px solid white;
    max-width: 320px;
}

div{
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    margin: auto;
    flex-wrap: wrap;
}

.square {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    border: solid rgb(185, 184, 184);
    border-collapse: collapse;
    border-width: thin;
    box-sizing: border-box;
    vertical-align: top;   
}

button{
    margin: 20px;
    padding: 10px;
    background-color: rgb(209, 181, 236);
    border: none;
    border-radius: 15px;
}

button:hover {
    color: white;
    background-color: rgb(148, 89, 216);
}